.page-category {
    padding-top: 3px;
}

.cat-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.list-news img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.list-news img:hover {
    opacity: 0.8;
}

.list-news {
    border: 1px solid #ededed;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.list-news h4 a {
    font-size: 21px;
    color: #2196f3;
    line-height: 25px;
}

.list-news h4 a:hover {
    color: #333;
}