#content .item-product .thumb img {
    height: 200px;
    object-fit: contain;
    border: 1px solid #ededed;
}

#content .item-product .info-product .price * {
    color: #2d2d2d;
    font-size: 12px;
    text-decoration: line-through;
}